<p>Type: {{.Keytype}}</p>
<p>Flags: {{.Flags}}</p>
<form>
  <div class="field">
    <label class="label">DNSKEY</label>
    <div class="control">
      <input type="text" class="input" readonly value="{{.Dnskey}}" />
    </div>
  </div>
  <div class="field">
    <label class="label">DS</label>
    {{range $ds := .Ds}}
    <div class="control">
      <input type="text" class="input" readonly value="{{$ds}}" />
    </div>
    {{end}}
  </div>
</form>
