{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Home{{end}}
{{define "description"}}An application for managing Sargassum networks, domain names, and organizations.{{end}}

{{define "content"}}
  <main class="main-container">
    <section class="section content">
      <h1>Fluitans</h1>
      <p>Welcome!</p>
    </section>
  </main>
{{end}}
