{{$rrset := get . "RRset"}}
{{$auth := get . "Auth"}}
{{$turboFrameTarget := get . "TurboFrameTarget"}}

<p>Created: {{dateInZone  "2006-01-02 15:04:05 UTC" $rrset.Created "UTC"}}</p>
<p>Touched: {{dateInZone  "2006-01-02 15:04:05 UTC" $rrset.Touched "UTC"}}</p>
<label class="label" for="ttl">TTL</label>
<div class="field has-addons">
  <div class="control">
    <input type="text" class="input" name="ttl" value="{{$rrset.Ttl}}" placeholder="3600" readonly />
  </div>
  <div class="control">
    <span class="button is-static">sec</span>
  </div>
</div>
<div class="field">
  <label class="label">Records</label>
  {{range $record := $rrset.Records}}
    <div class="control">
      <input type="text" class="input" placeholder="{{exemplifyDNSRecordType $rrset.Type}}" value="{{$record}}" readonly />
    </div>
  {{else}}
    <div class="control">
      <input type="text" class="input" placeholder="{{exemplifyDNSRecordType $rrset.Type}}" readonly />
    </div>
  {{end}}
</div>
<!-- TODO: make a controller with a confirmation dialog -->
{{if $auth.Identity.Authenticated}}
  <form
    action="/dns/{{derefString $rrset.Subname "@"}}/{{$rrset.Type}}"
    method="POST"
    data-turbo-frame="{{$turboFrameTarget}}"
    data-controller="form-submission csrf"
    data-action="submit->form-submission#submit submit->csrf#addToken"
  >
    {{template "shared/auth/csrf-input.partial.tmpl" $auth.CSRF}}
    <input type="hidden" name="method" value="DELETE">
    <div class="control" data-form-submission-target="submitter">
      <input
        class="button is-danger"
        type="submit"
        value="Delete records"
        data-form-submission-target="submit"
        data-csrf-target="submit"
      >
    </div>
  </form>
{{end}}
