{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Network Controller {{.Data.Controller.Name}}{{end}}
{{define "description"}}The ZeroTier network controller {{.Data.Controller.Name}}.{{end}}

{{define "content"}}
<main class="main-container">
  <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Fluitans</a></li>
      <li><a href="/controllers">Controllers</a></li>
      <li class="is-active"><a href="/controllers/{{.Data.Controller.Name}}" aria-current="page">{{.Data.Controller.Name}}</a></li>
    </ul>
  </nav>

  <section class="section content">
    <h1>Network Controller {{.Data.Controller.Name}}</h1>
    <turbo-frame id="controller-{{.Data.Controller.Name}}-info">
      <p>
        Address: {{.Data.Status.Address}}
      </p>
      <p>
        Online: {{.Data.Status.Online}}
        <br />
        Controller: {{.Data.ControllerStatus.Controller}}
      </p>
      <p>
        ZeroTier Version: {{.Data.Status.Version}}
        <br />
        API Version: {{.Data.ControllerStatus.ApiVersion}}
      </p>
    </turbo-frame>
    <h2>Networks</h2>
    {{template "networks/networks-list.partial.tmpl" dict "Controller" .Data.Controller "Networks" .Data.Networks "DomainName" .Meta.DomainName}}
  </section>
</main>
{{end}}
