{{$member := (get . "Member")}}
{{$network := (get . "Network")}}
{{$networkDNSNamed := (get . "NetworkDNSNamed")}}
{{$auth := (get . "Auth")}}
{{$withTurboStreamSource := (get . "WithTurboStreamSource")}}

{{$zerotierMember := $member.ZerotierMember}}
{{$ndpAddresses := $member.NDPAddresses}}
{{$domainNames := $member.DomainNames}}

{{if $withTurboStreamSource}}
  {{
    template "shared/turbo-cable-stream-source.partial.tmpl"
    (
      print "/networks/" (derefString $network.Id "")
      "/devices/" (derefString $zerotierMember.Address "")
    )
  }}
{{end}}
<turbo-frame id="/networks/{{$network.Id}}/devices/{{$zerotierMember.Address}}">
  <article class="panel entity-panel" id="device-{{$zerotierMember.Address}}">
    <header class="panel-heading">
      <h3 class="entity-name">
        {{if $domainNames}}
          <span class="tag domain-name">{{index $domainNames 0}}</span>
        {{else}}
          <span class="tag zerotier-address">{{$zerotierMember.Address}}</span>
        {{end}}
      </h3>
      <div class="tags">
        {{if (derefBool $zerotierMember.Authorized)}}
          <span class="tag is-success">Authorized</span>
        {{else}}
          <span class="tag is-warning">Not authorized</span>
        {{end}}
        {{if (derefBool $zerotierMember.ActiveBridge)}}
          <span class="tag is-info">Bridge</span>
        {{end}}
      </div>
    </header>
    <details data-accordion-item class="panel-block accordion-item">
      <summary class="accordion-header level">
        {{if $auth.Identity.Authenticated}}
          <h4>Basic Settings</h4>
        {{else}}
          <h4>Basic Details</h4>
        {{end}}
        {{template "shared/accordion-icon.partial.tmpl"}}
      </summary>
      <div class="accordion-content">
        <h5 class="is-size-6">Zerotier Address</h5>
        <span class="tag zerotier-address">{{$zerotierMember.Address}}</span>

        {{if $auth.Identity.Authenticated}}
          <h5 class="is-size-6">Network Membership</h5>
          <form
            action="/networks/{{$network.Id}}/devices/{{$zerotierMember.Address}}/authorization"
            method="POST"
            data-controller="form-submission csrf"
            data-action="submit->form-submission#submit submit->csrf#addToken"
          >
            {{template "shared/auth/csrf-input.partial.tmpl" $auth.CSRF}}
            <input
              type="hidden"
              name="authorization"
              value="{{if derefBool $zerotierMember.Authorized}}false{{else}}true{{end}}"
            >
            <div class="control" data-form-submission-target="submitter">
              <input
                class="button"
                type="submit"
                value="
                  {{if derefBool $zerotierMember.Authorized}}
                    Revoke device authorization
                  {{else}}
                    Authorize device
                  {{end}}
                "
                data-form-submission-target="submit"
              >
            </div>
          </form>
        {{end}}

        {{if $networkDNSNamed}}
          <h5 class="is-size-6">Domain Name{{if gt (len $domainNames) 1}}s{{end}}</h5>
          {{range $domainName := $domainNames}}
            {{if not $auth.Identity.Authenticated}}
              <span class="tag domain-name">{{$domainName}}</span>
            {{else}}
              <form
                id="unset-name-{{$domainName}}"
                action="/networks/{{$network.Id}}/devices/{{$zerotierMember.Address}}/name"
                method="POST"
                data-controller="form-submission csrf"
                data-action="submit->form-submission#submit submit->csrf#addToken"
              >
                {{template "shared/auth/csrf-input.partial.tmpl" $auth.CSRF}}
                <input
                  type="hidden"
                  name="unset-name"
                  value="{{trimSuffix ".d." (trimSuffix $network.Name $domainName)}}"
                >
                <input type="hidden" name="set-name" value="">
                <div class="control" data-form-submission-target="submitter">
                  <span class="tag domain-name">
                    {{$domainName}}
                    <span class="control">
                      <button
                        class="delete"
                        form="unset-name-{{$domainName}}"
                        data-form-submission-target="submit"
                      ></button>
                    </span>
                  </span>
                </div>
              </form>
            {{end}}
          {{else}}
            {{if not $auth.Identity.Authenticated}}
              <span class="tag is-warning">Unknown</span>
            {{else}}
              <form
                action="/networks/{{$network.Id}}/devices/{{$zerotierMember.Address}}/name"
                method="POST"
                data-controller="form-submission csrf"
                data-action="submit->form-submission#submit submit->csrf#addToken"
              >
                {{template "shared/auth/csrf-input.partial.tmpl" $auth.CSRF}}
                <div class="field has-addons">
                  <div class="control">
                    <input type="text" class="input" name="set-name">
                  </div>
                  <div class="control">
                    <span class="button is-static">.d.{{$network.Name}}</span>
                  </div>
                </div>
                <div class="field">
                  <div class="control" data-form-submission-target="submitter">
                    <input
                      type="submit"
                      class="button"
                      value="Set domain name"
                      data-form-submission-target="submit"
                    >
                  </div>
                </div>
              </form>
            {{end}}
          {{end}}
        {{end}}
      </div>
    </details>
    <details data-accordion-item class="panel-block accordion-item">
      <summary class="accordion-header level">
        <h4>IP Addresses</h4>
        {{template "shared/accordion-icon.partial.tmpl"}}
      </summary>
      <div class="accordion-content">
        {{if not $auth.Identity.Authenticated}}
          {{range $ipAddr := $zerotierMember.IpAssignments}}
            <p><span class="tag ip-address">{{$ipAddr}}</span></p>
          {{end}}
        {{else}}
          <form
            action="/networks/{{$network.Id}}/devices/{{$zerotierMember.Address}}/ip"
            method="POST"
            data-controller="form-submission csrf"
            data-action="submit->form-submission#submit submit->csrf#addToken"
          >
            {{template "shared/auth/csrf-input.partial.tmpl" $auth.CSRF}}
            {{if gt (len $zerotierMember.IpAssignments) 0}}
              <label class="label">Assigned Addresses</label>
              <div class="field">
                {{range $ipAddr := $zerotierMember.IpAssignments}}
                  <div class="control">
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        {{if has $ipAddr $ndpAddresses}}
                          name="ndp-addresses"
                        {{else}}
                          name="existing-addresses"
                        {{end}}
                        value="{{$ipAddr}}"
                        checked
                        {{if has $ipAddr $ndpAddresses}}
                          disabled
                        {{end}}
                      >
                      <span class="tag ip-address">{{$ipAddr}}</span>
                    </label>
                  </div>
                {{end}}
              </div>
            {{end}}
            <label class="label" for="subnet">New Address</label>
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="new-address" placeholder="10.241.0.1">
              </div>
            </div>
            <div class="field">
              <div class="control" data-form-submission-target="submitter">
                <input
                  class="button"
                  type="submit"
                  value="Update addresses"
                  data-form-submission-target="submit"
                >
              </div>
            </div>
          </form>
        {{end}}
      </div>
    </details>
    {{if $auth.Identity.Authenticated}}
      <details data-accordion-item class="panel-block accordion-item">
        <summary class="accordion-header level">
          <h4>Advanced Details</h4>
          {{template "shared/accordion-icon.partial.tmpl"}}
        </summary>
        <div class="accordion-content">
          <h5 class="is-size-6">Troubleshooting Information</h5>
          <p>Configuration revision: {{$zerotierMember.Revision}}</p>
          <p>
            Version:
            {{if eq -1 (derefInt $zerotierMember.VMajor -1)}}
              <span class="tag is-warning">Unknown</span>
            {{else}}
              v{{$zerotierMember.VMajor}}.{{$zerotierMember.VMinor}}.{{$zerotierMember.VRev}}
            {{end}}
          </p>
        </div>
      </details>
    {{end}}
  </article>
</turbo-frame>
