{{$member := (get . "Member")}}
{{$network := (get . "Network")}}
{{$networkDNSNamed := (get . "NetworkDNSNamed")}}
{{$auth := (get . "Auth")}}
{{$withTurboStreamSource := (get . "WithTurboStreamSource")}}

{{$zerotierMember := $member.ZerotierMember}}
{{$ndpAddresses := $member.NDPAddresses}}
{{$domainNames := $member.DomainNames}}

{{if $withTurboStreamSource}}
  {{
    template "shared/turbo-cable-stream-source.partial.tmpl"
    (
      print "/networks/" (derefString $network.Id "")
      "/devices/" (derefString $zerotierMember.Address "")
    )
  }}
{{end}}
<turbo-frame id="/networks/{{$network.Id}}/devices/{{$zerotierMember.Address}}">
  <article class="panel entity-panel" id="device-{{$zerotierMember.Address}}">
    <header class="panel-heading">
      {{
        template "networks/device-header.partial.tmpl" dict
        "Member" $member
        "Network" $network
        "Auth" $auth
      }}
    </header>
    <details data-accordion-item class="panel-block accordion-item">
      <summary class="accordion-header level">
        {{if $auth.Identity.Authenticated}}
          <h4>Basic Settings</h4>
        {{else}}
          <h4>Basic Details</h4>
        {{end}}
        {{template "shared/accordion-icon.partial.tmpl"}}
      </summary>
      <div class="accordion-content">
        {{
          template "networks/device-basics.partial.tmpl" dict
          "Member" $member
          "Network" $network
          "NetworkDNSNamed" $networkDNSNamed
          "Auth" $auth
        }}
      </div>
    </details>
    <details data-accordion-item class="panel-block accordion-item">
      <summary class="accordion-header level">
        <h4>IP Addresses</h4>
        {{template "shared/accordion-icon.partial.tmpl"}}
      </summary>
      <div class="accordion-content">
        {{
          template "networks/device-ip.partial.tmpl" dict
          "Member" $member
          "Network" $network
          "Auth" $auth
        }}
      </div>
    </details>
    {{if $auth.Identity.Authenticated}}
      <details data-accordion-item class="panel-block accordion-item">
        <summary class="accordion-header level">
          <h4>Advanced Details</h4>
          {{template "shared/accordion-icon.partial.tmpl"}}
        </summary>
        <div class="accordion-content">
        {{
          template "networks/device-advanced.partial.tmpl" dict
          "Member" $member
          "Network" $network
          "Auth" $auth
        }}
        </div>
      </details>
    {{end}}
  </article>
</turbo-frame>
