{{template "shared/base.layout.tmpl" .}}

{{define "title"}}{{identifyNetwork .Data.Network}}{{end}}
{{define "description"}}The ZeroTier network {{identifyNetwork .Data.Network}}{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Fluitans</a></li>
        <li><a href="/networks">Networks</a></li>
        <li class="is-active"><a href="/networks/{{.Data.Network.Id}}" aria-current="page">
          {{template "shared/networks/network-name.partial.tmpl" .Data.Network}}
        </a></li>
      </ul>
    </nav>

    <section class="section content">
      {{
        template "networks/network-basics.partial.tmpl" dict
        "Network" .Data.Network
        "NetworkDNS" .Data.NetworkDNS
        "DomainName" .Data.DomainName
        "Auth" .Auth
      }}
      {{if .Auth.Identity.Authenticated}}
        <h2>Devices</h2>
        {{
          template "networks/devices-list.partial.tmpl" dict
          "Members" .Data.Members
          "Network" .Data.Network
          "NetworkDNS" .Data.NetworkDNS
          "Auth" .Auth
          "WithTurboStreamSource" true
        }}
        {{if .Data.NetworkDNS.Named}}
          <h2>DNS Records</h2>
          {{range $subdomain := .Data.NetworkDNS.OtherSubdomains}}
            {{
              template "shared/dns/subdomain.partial.tmpl" dict
              "Subdomain" $subdomain
              "Auth" $.Auth
            }}
          {{end}}
        {{end}}
        <h2>Advanced</h2>
        <div class="card section-card">
          <div class="card-content">
            {{
              template "networks/network-rules.partial.tmpl" dict
              "Network" .Data.Network
              "Auth" .Auth
              "JSONPrintedRules" .Data.JSONPrintedRules
            }}
          </div>
        </div>
        <div class="card section-card">
          <div class="card-content">
            {{
              template "networks/network-ipaddr.partial.tmpl" dict
              "Network" .Data.Network
            }}
          </div>
        </div>
        <div class="card section-card">
          <div class="card-content">
            {{
              template "networks/network-advancedmisc.partial.tmpl" dict
              "Network" .Data.Network
            }}
          </div>
        </div>
        <!-- TODO: make a controller with a confirmation dialog -->
        <div class="card-width is-block">
          <form
            action="/networks/{{.Data.Network.Id}}"
            method="POST"
            data-turbo-frame="_top"
            data-controller="form-submission csrf"
            data-action="submit->form-submission#submit submit->csrf#addToken"
          >
            {{template "shared/auth/csrf-input.partial.tmpl" .Auth.CSRF}}
            <input type="hidden" name="state" value="deleted">
            <div class="control" data-form-submission-target="submitter">
              <input
                class="button is-danger"
                type="submit"
                value="Delete network"
                data-form-submission-target="submit"
                data-csrf-target="submit"
              >
            </div>
          </form>
        </div>
      {{end}}
    </section>
  </main>
{{end}}
