{{$network := (get . "Network")}}
{{$auth := get . "Auth"}}
{{$jsonPrintedRules := (get . "JSONPrintedRules")}}

<turbo-frame id="/networks/{{$network.Id}}/rules">
  <h3>Traffic Rules</h3>
  <p>
    This network has the following traffic rules for network security:
  </p>
  <ol>
    <li>Inspect the packet,</li>
    {{range $rule := $network.Rules}}
      {{template "networks/network-rule.partial.tmpl" $rule}}
    {{end}}
    <li>discard the packet</li>
  </ol>
  <form
    action="/networks/{{$network.Id}}/rules"
    method="POST"
    data-controller="form-submission csrf"
    data-action="submit->form-submission#submit submit->csrf#addToken"
  >
    {{template "shared/auth/csrf-input.partial.tmpl" $auth.CSRF}}
    <label class="label" for="rules">Rule Editor</label>
    <div class="field">
      <div class="control">
        <textarea
          class="textarea is-fullwidth"
          name="rules"
          rows="10"
        >{{$jsonPrintedRules}}</textarea>
      </div>
    </div>
    <div class="field">
      <div class="control" data-form-submission-target="submitter">
        <input
          class="button"
          type="submit"
          value="Set rules"
          data-form-submission-target="submit"
        >
      </div>
    </div>
  </form>
</turbo-frame>
