{{template "base.layout.tmpl" .}}

{{define "title"}}Networks Hosted by {{.Controller.Name}}{{end}}
{{define "description"}}Networks hosted by ZeroTier network controller {{.Controller.Name}}.{{end}}

{{define "content"}}
<main class="main-container scroller">
  <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/controllers">Controllers</a></li>
      <li><a href="/controllers/{{.Controller.Name}}">{{.Controller.Name}}</a></li>
      <li class="is-active"><a href="/controllers/{{.Controller.Name}}/networks" aria-current="page">Networks</a></li>
    </ul>
  </nav>

  <section class="section content">
    <h1>Networks Hosted by {{.Controller.Name}}</h1>
    {{template "networks-list" .}}
  </section>
</main>
{{end}}
