{{template "base.layout.tmpl" .}}

{{define "title"}}Home{{end}}

{{define "content"}}
<main class="main-container scroller">
  <section class="section content">
    <h1>Fluitans</h1>
    <p>Hello!</p>
  </section>
</main>
{{end}}
