{{template "base.layout.tmpl" .}}

{{define "title"}}There's a problem{{end}}
{{define "description"}}We have some trouble.{{end}}

{{define "content"}}
<main class="main-container scroller">
  <section class="section content">
    <h1>{{(describeError .ErrorCode).Name}} ({{.ErrorCode}})</h1>
    <p>{{(describeError .ErrorCode).Description}}</p>
  </section>
</main>
{{end}}
