{{template "base.layout.tmpl" .}}

{{define "title"}}Login{{end}}
{{define "description"}}Log in to Fluitans.{{end}}

{{define "content"}}
<main class="main-container scroller">
  <section class="section content">
    <h1>Login</h1>
    <p>This is where you'll register or log in!</p>
  </section>
</main>
{{end}}
