{{$controller := get . "Controller"}}
{{$auth := get . "Auth"}}

<form action="/networks" method="POST" data-turbo-frame="_top">
  {{$auth.CSRFInput}}
  <input type="hidden" name="method" value="CREATE">
  <input type="hidden" name="controller" value="{{$controller.Name}}">
  <div class="control">
    <input class="button is-primary" type="submit" value="Create a network">
  </div>
</form>
