<span class="zerotier-network-id">
  <span class="tag zerotier-network-host">
    {{getNetworkHostAddress .}}
  </span><span class="tag zerotier-network-number">
    {{getNetworkNumber .}}
  </span>
</span>
