{{define "navbar.assets"}}
<link rel="preload" as="image" type="image/svg+xml" href={{staticHashed "logo.svg"}} data-turbo-track="reload">
<link rel="preload" as="image" type="image/svg+xml" href={{staticHashed "icons/white-balance-sunny.svg"}} data-turbo-track="reload">
{{end}}

{{define "navbar.brand"}}
<img class="navbar-brand-logo" src={{staticHashed "logo.svg"}} alt="Fluitans logo" />
Fluitans
{{end}}

{{define "navbar.menu.start"}}
{{template "shared/navlink.partial.tmpl" dict "Navlink.Href" "/dns" "Navlink.Name" "DNS" "Meta.Path" .Meta.Path}}
{{template "shared/navlink.partial.tmpl" dict "Navlink.Href" "/controllers" "Navlink.Name" "Controllers" "Meta.Path" .Meta.Path}}
{{template "shared/navlink.partial.tmpl" dict "Navlink.Href" "/networks" "Navlink.Name" "Networks" "Meta.Path" .Meta.Path}}
{{end}}

{{define "navbar.menu.end"}}
{{template "shared/navlink.partial.tmpl" dict "Navlink.Href" "/login" "Navlink.Name" "Login" "Meta.Path" .Meta.Path}}
{{end}}

{{define "navbar"}}
<nav
  role="navigation"
  id="main-nav"
  class="navbar"
  aria-label="Main navigation"
  data-turbo-permanent
  data-controller="navigation-menu"
>
  <div class="navbar-brand left-burger">
    <a
      href="#navigation-menu"
      id="navigation-menu-toggle"
      class="navbar-burger"
      role="button"
      aria-label="Open navigation menu"
      aria-expanded="false"
      data-turbo="false"
      data-action="click->navigation-menu#toggle"
      data-navigation-menu-target="toggle"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <a
      href="/"
      class="navbar-item brand-with-logo"
      data-action="click->navigation-menu#close"
    >
      {{block "navbar.brand" .}}{{end}}
    </a>
  </div>
  <div id="navigation-menu" class="navbar-menu" data-navigation-menu-target="menu">
    <div class="navbar-start">
      {{block "navbar.menu.start" .}}{{end}}
    </div>
    <div class="navbar-end">
      {{block "navbar.menu.end" .}}{{end}}
      <div class="navbar-item">
        <div class="buttons">
          <a
            href="#"
            id="navigation-menu-close"
            class="navbar-burger is-active"
            role="button"
            aria-label="Close navigation menu"
            data-turbo="false"
            data-navigation-menu-target="close"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          {{block "navbar.menu.end.buttons" .}}{{end}}
          <button
            class="button icon-button is-text is-hidden"
            data-controller="theme"
            data-action="click->theme#toggle"
            aria-label="Toggle theme"
          >
            <span class="icon is-small">
              <img src={{staticHashed "icons/white-balance-sunny.svg"}} alt="Toggle theme">
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
{{end}}
