{{define "navlink"}}
<a
  href={{get . "Navlink.Href"}}
  {{if eq (get . "Navlink.Href") (get . "Meta.Path")}}
  class="navbar-item nav-link is-active"
  {{else}}
  class="navbar-item nav-link"
  {{end}}
  data-action="click->navigation-menu#close"
  data-controller="navigation-link"
>
  {{get . "Navlink.Name"}}
</a>
{{end}}
