@charset 'utf-8';

.card.section-card {
  display: inline-block;
  vertical-align: top;
  border-radius: 0;
  width: 100%;
  max-width: 36em;
  margin-bottom: $gap;
  margin-right: $gap;

  @include from($navside-breakpoint) {
    width: calc(100% - #{2 * $gap});
    margin-bottom: 2 * $gap;
    margin-right: 2 * $gap;
  }

  h4, h5 {
    margin-bottom: 0;
  }
  h4:not(:first-child), h5:not(:first-child) {
    margin-top: 0.5em;
  }
  p:not(:last-child) {
    margin-bottom: 0;
  }
}

.info-card-container {
  padding-right: $gap;
  padding-bottom: $gap;

  @include from($navside-breakpoint) {
    padding-right: 2 * $gap;
    padding-bottom: 2 * $gap;
  }
}
.card.info-card {
  display: inline-block;
  vertical-align: top;
  border-radius: 0;
  width: calc(100% - #{$gap});
  max-width: 36em;
  margin-top: $gap;
  margin-left: $gap;

  @include from($navside-breakpoint) {
    width: calc(100% - #{2 * $gap});
    margin-top: 2 * $gap;
    margin-left: 2 * $gap;
  }
}
